{% extends "base.html" %}
 {% block content %}
 <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Synopsis</th>
                    <th>Content</th>
                    <th> Since </th>
                </tr>
            </thead>
                <tbody>
                <tr>
                    <td>
                    {{ article.title }}
                    </td>
                    <td>
                        {{ article.author }}
                    </td>
                    <td>
                    {{ article.created }}
                    </td>
                    <td>
                    {{ article.synopsis }}
                    </td>
                    <td>
                        {{ article.content }}
                    </td>
                    <td>
                        {{ article.created |timesince }}
                    </td>
                </tr>
                </tbody>
        </table>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add to favorite</button>
        </form>
        {% endblock %}

