{% extends "base.html" %}
 {% block content %}
 <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Synopsis</th>
                    <th>Content</th>
                </tr>
            </thead>
                <tbody>
                <tr>
                    <td>
                    {{ article.title }}
                    </td>
                    <td>
                        {{ article.author }}
                    </td>
                    <td>
                    {{ article.created }}
                    </td>
                    <td>
                    {{ article.synopsis }}
                    </td>
                    <td>
                        {{ article.content }}
                    </td>
                </tr>
                </tbody>
        </table>
        {% endblock %}

