{% extends "base.html" %}
{% load i18n %}
 {% block content %}
 <table>
            <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Author" %}</th>
                    <th>Date</th>
                    <th>Synopsis</th>
                    <th>{% trans "Content" %}</th>
                    <th> {% trans "Since" %} </th>
                </tr>
            </thead>
                <tbody>
                <tr>
                    <td>
                    {{ article.title }}
                    </td>
                    <td>
                        {{ article.author }}
                    </td>
                    <td>
                    {% language 'en' %}
                    {{ article.created }}
                    </td>
                    <td>
                    {{ article.synopsis }}
                    </td>
                    <td>
                        {{ article.content }}
                    </td>
                    <td>
                        {{ article.created |timesince }}
                    </td>
                    {% endlanguage %}
                </tr>
                </tbody>
        </table>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Add to favorite" %}</button>
        </form>
        {% endblock %}

