{% extends "base.html" %}
{% load i18n %}
    {% block content %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Author" %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>Date</th>
                    <th>Synopsis</th>
                    <th>{% trans "Since" %}</th>
                    <th>Details</th>
                </tr>
            </thead>
        {% for article in object_list %}
                <tbody>
                <tr>
                    <td>
                    {{ article.author }}
                    </td>
                    <td>
                    {{ article.title }}
                    </td>
                    <td>
                    {% language 'en' %}
                    {{ article.created }}
                    </td>
                    <td>
                    {{ article.synopsis }}
                    </td>
                    <td>
                        {{ article.created |timesince }}
                    </td>
                    {% endlanguage %}
                    <td>
                        <a href="{% url 'article' article.id %}">{% trans "See" %}</a>
                    </td>
                </tr>
                </tbody>
        {% endfor %}
        </table>
        {% endblock %}