{% extends "base.html" %}
{% load i18n %}
{% block content %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Synopsis" %}</th>
                    <th>{% trans "Details" %}</th>
                    <th>{% trans "Since" %}</th>
                </tr>
            </thead>
        {% for article in object_list %}
                <tbody>
                <tr>
                    <td>
                    {{ article.title }}
                    </td>
                    <td>
                    {% language 'en' %}
                    {{ article.created }}
                    </td>
                    <td>
                    {{ article.synopsis|truncatechars:20 }}
                    </td>
                    <td>
                        <a href="{% url 'article' article.id %}">{% trans "See" %}</a>
                    </td>
                    <td>
                        {{ article.created |timesince }}
                    </td>
                    {% endlanguage %}
                </tr>
                </tbody>
        {% endfor %}
        </table>
        <a href="{% url 'publish' %}"> {% trans "Publish an article" %}</a>
{% endblock %}