{% load widget_tweaks %} 
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
    <svg width="40px" height="40px" viewBox="0 -0.5 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-book-3">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M4.048,13.774 L6.062,15.896 L14.909,13.831 L14.909,1.965 L13.932,1.384 L6.062,3.961 L4.997,2.921 L12.697,0.636 L11.549,0.011 L4.062,2.133 L4.048,13.774 Z" fill="#434343" class="si-glyph-fill">
        </path>
    </svg>
    </a>
    <div class="collapse navbar-collapse">
        <a class="nav-link {% if request.resolver_match.url_name == 'articles' %}active{% endif %}" href="{% url 'articles' %}">{% trans "Articles" %}</a>
        {% if request.user.is_authenticated %}
        <a class="nav-link {% if request.resolver_match.url_name == 'favorite' %}active{% endif %}" href="{% url 'favorite' %}">{% trans "Favorites" %}</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'publication' %}active{% endif %}" href="{% url 'publication' %}">{% trans "Publications" %}</a>
        {% endif %}
        {% if not request.user.is_authenticated %}
            <a class="nav-link  {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">{% trans "Register" %}</a>
        </div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% for field in login_form %}
                    {% render_field field class="form-inline" placeholder=field.label %}
                {% endfor %}               
            <input type="submit" class="btn btn-light" value="{% trans 'Login' %}">
            {% if login_form.non_field_errors %}
            {% for error in login_form.non_field_errors %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </form>
        {% endif %}
  </div>

        {% if request.user.is_authenticated %}
        <p class="nav-text text-white text-opacity-50 pt-3">{% trans "Logged as" %} {{request.user}}</p>
        <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
        {% endif %}
            {% block language_switcher %}
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        {% if LANGUAGE_CODE == 'fr' %}
            <input type="hidden" name="language" value="en">
        {% else %}
            <input type="hidden" name="language" value="fr">
        {% endif %}
            <button type="submit" class="btn btn-light">Switch language</button>
    </form>
      {% endblock %}
</nav>